/*
Colors
#DDD;
#F5F5F5;
#6495ED;

 font-family: 'Arial', 'Helvetica', 'Helvetica Neue', sans-serif;
*/


fieldset {
    max-width: 50rem;
    background-color: #F5F5F5;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    padding: 2rem;
    border-color: lightgrey;
}

.box-fname, .box-email, .box-message {
	margin: 0 0 1rem 0;
    font-family: 'Arial', 'Helvetica', 'Helvetica Neue', sans-serif;
    color: black;
    border-color: #F5F5F5;
    font-size: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
}

#fname, #email, #message {
    border-color: lightgrey;
    border-width: thin;
    width: 100%;
    padding-bottom: 5%;
}

label {
	display: block;
}

.assign {
    font-family: 'Arial', 'Helvetica', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    color: black;
    font-size: 2rem;
    border: solid;
    border-width: thin;
    background-color: white;
    border-color: lightgrey;
    text-align: left;
    padding: .5em;
    display: inline-block;
    margin-top: 2rem;
}

#message {
/*    width: 100%;*/
    padding-bottom: 10%;
}

#submit {
    font-family: 'Arial', 'Helvetica', 'Helvetica Neue', sans-serif;
    color: white;
    background-color: #6495ED;
    border-color: #DDD;
    font-size: 1rem; 
    margin-top: 1rem;
    text-align: center;
    width: 100%;
    padding: .5em;
    display: inline-block;
    border-radius: 10px;
    border: none;
}

    /*MEDIA QUERY */
@media only screen and (min-width: 40rem){
    

.box-fname {
    float: left;
    width: 48%;
}
    
.box-email {
    float: right;
    width: 48%;
}
     
#submit {
    width: inherit; 
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
}